.blogPostContainer{
    width: 70%;
    background-color: rgba(39, 22, 22, 0.4);
}

.blogHeader{
    text-align: center;
}
.blogCategory{
    display: block;
    font-size: 14px;
    padding: 10px 0;
}
.postTitle{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
    font-weight: 400;
}

.postedBy{
    font-size: 15px;
    font-style: italic;
    padding: 10px 0;
    display: block;
    color: whitesmoke;
}

.postImageContainer{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.postImageContainer img{
    max-width:100%;
    max-height: 100%;
}

.postContent{
    margin: 10px;
}

.postContent h3{
    font-weight: 400;
    color: whitesmoke;
}

.postContent p{
    font-size: 14px;
    color: whitesmoke;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 20px;
}


.postVideo {
    text-align:center;
}

iframe {
    box-sizing: border-box;
    border-radius: 5px;
}