<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="%PUBLIC_URL%/ssfaviconv3.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="MERN with Authentication using JSON Web Tokens" />
  <meta property="og:url" content="https://mern-auth-boiler-plate-jwt.herokuapp.com/" />
  <meta property="og:image" content="%PUBLIC_URL%/images/login.jpg" />
  <meta name="description"
    content="This is a Boiler Plate MERN application with authentication using JSON Web Tokens. " />
  <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />

  <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous"
  >

  <title>Back to the Basics</title>
</head>

<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Legend</h5>
            <ul>
                <li>Beaches<img className = "icon" src="../../public/images/icons/beach.jpg" style="width: 20px; height: 20px;"></li>
                <li>Marijuana Dispensary<img className = "icon" src="../../public/images/icons/weed.jpg" style="width: 20px; height: 20px;"></li>
                <li>Firearm Shops<img className = "icon" src="../../public/images/icons/gun.jpg" style="width: 20px; height: 20px;"></li>
                <li>National Parks<img className = "icon" src="../../public/images/icons/nationalPark.png" style="width: 20px; height: 20px;"></li>
                <li>Outdoor Stores<img className = "icon" src="../../public/images/icons/shopping.jpg" style="width: 20px; height: 20px;"></li>
                <li>State Parks<img className = "icon" src="../../public/images/icons/statePark.jpg" style="width: 20px; height: 20px;"></li>

            </ul>
        </div>
      </div> 
</body>

</html>